<div class="rishi">
    <h5>
        As a career-driven person, I am looking for a place where I will be able to grow professionally and personally
        and climb the ladder of success. Although my current job is giving me the opportunity but I want to challenge
        myself with new harder opportunities. I love to take on challenges and learn from them to see myself as a
        responsible person in a reputed organization. Also, I am looking for a job in Delhi-NCR only due to some
        personal reasons.
    </h5>
    <br>
    <h5>
        I believe that my experience with technology, specifically in the web front end space, makes me the best match
        for you. I have good knowledge of JavaScript, Angular and SQL. In my current Employer, I worked on
        Angular (2+), JavaScript and SQL Server. Lastly, I would like to add that I work well both as an individual
        contributor and also as a team member. Collectively, all these skills put together makes me a complete package
        for this position.
    </h5>
    <br>
    <h5>
        Current Position: Software Engineer <br>
        Total Experience: 1 Year 2 Months<br>
        Current Location: Delhi, 110032 <br>
        Skills: Angular, Javascript, Ecmascript, HTML5, CSS3, SQL <br>
        Experienced Technology Stack: Angular, Javascript, Typescript, Less CSS, KendoUI, SQL Server <br>
        Preferred Location: Delhi, Noida, Gurugram
    </h5>
</div>