footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #ccc;
    text-align: center;
}

.footer {
    margin-top: 20px;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar1 {
    top: 0;
}

.navbar2 {
    top: 9.7%;
}

.router {
    margin-top: 10%;
}