<div class="home">
    <h1>#Documentation</h1>
    <h4>1. For Booking Functionality, please Click on "Booking" from Navbar.</h4>
    <h5> - In Booking Module, we have 4 Functionalities and their Navigations present in Sidebar.</h5>
    <h6>a. To get Total Seats Info and their Booked/Empty Pictorical View</h6>
    <h6>b. To get Already Book Tickets Information</h6>
    <h6>c. Book Tickets</h6>
    <h6>d. Cancel already booked seats.</h6><br>
    <h4>2. For Assignment Decription and Assumptions, please Click on "Project's Assumptions" from Navbar.</h4><br>
    <h4>3. In order to know Myself (Rishi) more, please Click on "About Rishi" from Navbar.</h4><br>
    <h4>4. In order to run local Json Server, move to src/assets forlder and run command "json-server --watch db.json"</h4>
</div>